Package: com.wizages.GConnectF
Name: Garmin Connect Fixes
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: This tweak fixes your watch after respring and auto launches the garmin connect app after respring. It also enables universal music controls on your garmin watch.
Maintainer: wizages <wizagesmax@gmail.com>
Author: wizages <wizagesmax@gmail.com>
Section: Tweaks
